/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


/*Variavel das fontes*/
:root{
    --font-primary:'Baloo Da 2', serif;
    --font-secundary:'Josefin Slab', serif;
    --font-action: 'Mulish', serif;
}

/*Plano de fundo*/
body{
    background-image: linear-gradient( to right, #159957, #155799, rgba(0,0,0,0.8));
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

/*Banner*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #159957;  
    background-color: rgba(0,0,0,0.6);
}
  
li {
	margin-left: 1rem;
	float: left;
}
  
li a {
	font-family: var(--font-primary);
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
li a:hover:not(.active) {
	opacity: 0.6;
}

/*Formulário*/
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 28%;
    margin-top: 50px;
}

fieldset{
    border: 3px solid #155799;
}

legend{
    border: 1px solid #155799;
    padding: 10px;
    text-align: center;
    background-color: #155799;
    border-radius: 5px;
    color: white;
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

.inputBox{
    position: relative;
}

.input_user{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    font-family: var(--font-action);
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
}

label{
    font-family: var(--font-action);
    font-size: 15px;
}

.label_input{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.input_user:focus ~ .label_input, .input_user:valid ~ .label_input{
    top: -20px;
    font-size: 12px;
    color: #155799;
}

#data{
    border: none;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    font-family: var(--font-action);
}

#submit{
    font-family: var(--font-action);
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
    padding: 1rem 2rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover{
    opacity: 0.8;
}

.retornar p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation:  moveBanner 1s 0.7s forwards;
    opacity: 0;
    text-align: justify;
}
.retornar button{
    font-family: var(--font-action);
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation:  moveBanner 1s 0.9s forwards;
    opacity: 0;
}
