/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/*Margens*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

/*Variavel das fontes*/
:root{
    --font-primary:'Baloo Da 2', serif;
    --font-secundary:'Josefin Slab', serif;
    --font-action: 'Mulish', serif;
}

/*Scroll*/
html{
    scroll-behavior: smooth;
}

/*Botão menu lateral*/
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.show-menu .hamburguer{
    right: 16rem;
}
.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
    border-radius: 10px;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.1rem, -.45rem);
}
.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957);
    font-family: var(--font-action);
    opacity: 0;
}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #159957;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid transparent;
    left: -1rem;
}
.show-menu .hamburguer:hover span{
    opacity: 1;
}

/*Menu lateral*/
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 50;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #155799;
    transition: color 1s;

}
.menu-link:hover{
    color: #159957;
}
.social{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Cabeçalho*/
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation:  moveBanner 1s 0.5s forwards;
    opacity: 0;
}
.banner p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation:  moveBanner 1s 0.7s forwards;
    opacity: 0;
    text-align: justify;
}
.banner button{
    font-family: var(--font-action);
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation:  moveBanner 1s 0.9s forwards;
    opacity: 0;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
/*Jogo*/
#principal{
    background-color: #eee;
}

#titulo{
    font-family: var(--font-primary);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3.5rem;
}
#jogador_nome, #computador_nome{
    font-family: var(--font-secundary);
    
}
#computador_nome{
    text-align: right;
}

#jogador_pontos, #computador_pontos{
    font-family: var(--font-action);
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#jogador_pontos{
    right: 20px;
}

#oponente{
    font-family: var(--font-primary);
}
#placar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador{
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    margin: 10px;
}

#jogador{
    background-color: #155799;
}

#computador{
    background-color: #159957;
}

ul#jogador_escolha, ul#computador_escolha{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#jogador_escolha li, ul#computador_escolha li{
    display: inline;
    text-align: center;
}

ul#jogador_escolha li a, ul#computador_escolha li a{
    opacity: .2;
}

ul#jogador_escolha li a:hover {
    opacity: 1;
    cursor: pointer;
}

ul#jogador_escolha li a:hover, ul#jogador-escolha li a, selecionado, ul#computador-escolha li a, selecionado {
    opacity: 1;
}


ul#jogador_escolha li a img, ul#computador_escolha li a img{
    max-width: 240px;
}

#mensagens{
    background-color: #eee;
    border-radius: 5px;
    padding: 40px 0;
    padding: 20px;
    font-family: var(--font-action);
    font-size: 1rem;
}

/*Contatos*/
.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato-wrapper{
    width: 60%;
    height: 34rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.5);
}
.sessao-contato img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-top: 1rem;
}
.contato-left{
    width: 45%;
    background: url(img/Teamlogo.png);
    background-size: cover;
}
.contato-right{
    width: 55%;
    background-color: #eee;
    padding-left: 2rem;
}
.sessao-contato h1{
    font-family: var(--font-primary);
    text-align: center;
    width: 100%;
    color: #272727;
    font-weight: lighter;
    font-size: 2rem;
}
.sessao-contato h3{
    font-family: var(--font-secundary);
    width: 100%;
    color: #272727;
}
.sessao-contato p{
    font-family: var(--font-secundary);
    width: 100%;
    color: #272727;
    margin-bottom: .5rem;
}

/*Rodapé*/
.footer-content{
    width: 100%;
    height: 5rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content p{
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}
#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}

.retornar{
    position: absolute;
    top: 2%;
    left: 2%
}
.retornar h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation:  moveBanner 1s 0.5s forwards;
    opacity: 0;
}
.retornar p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation:  moveBanner 1s 0.7s forwards;
    opacity: 0;
    text-align: justify;
}
.retornar button{
    font-family: var(--font-action);
    color: #fff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation:  moveBanner 1s 0.9s forwards;
    opacity: 0;
}